<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    
    <%
    var number = 1; 
    for (var i =0 ; i <=10;i++){%>
      <p>cao thai to </p>
      <%}
      %>
      <p><%=number%></p>
      <p><%=testEmDi%></p>
      <%- include('header')%>
    
  </body>
</html>
